body {
  background: #fff0f4;
  font-family: Ubuntu;
  user-select: none;
}

.AppContent {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: #6b4dbe;
}

#OpenMenu {
  display: none;
  align-items: center;
}

@media screen and (max-width: 800px) {
  #OpenMenu {
    display: flex;
  }
}
