.AppMainPageContent {
  width: 100%;
  display: flex;
  margin-left: 30%;
  flex-direction: column;
  height: 100%;
}

.AppContentBox {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media screen and (max-width: 800px) {
  .AppMainPageContent {
    margin: 0;
  }
}
