@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body,
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  text-align: center;
}

@media screen and (max-width: 800px) {
  body,
  html {
    width: 95%;
    height: auto;
  }
}

.dark {
  background-color: #1c1a1a;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: #6365ca;
}

a:hover {
  color: #233b6d;
}
